<!--
History page of my image analyzing application.
Author:Kshithij Iyer
Email: ahole@disroot.org
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body bgcolor="gray">
    <table border="10">
        <tr>
            <th>Image</th>
            <th>Vision API results</th>
        </tr>
        {% for elements in data %}
        <tr>
            <td><img src="/{{elements.url}}" style='width:128px;height:128px;'></td>
            <td>{{elements.data}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>